In [1]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

In [38]:
name='World'
row = 'Value:'
print(f'{row:10} Hello {name}!')
print(f'{row:10} Hello {name}!')

Value:     Hello World!
Value:     Hello World!

In [5]:
s='Hello, Codeup'
s.lower()

'hello, codeup'

In [45]:
list=[1,2,3,4]
list.pop()
print(list)
list.pop()
print(list)
list.append(87)
print(list)

[1, 2, 3]
[1, 2]
[1, 2, 87]

In [70]:
def addition(n):
    return n + n

numbers = [1, 2, 3, 4]

result = [addition(n) for n in numbers]

print(result)

[2, 4, 6, 8]

In [4]:
def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = [1, 2, 3, 4]
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [3]:
list(map(str, [1, 2, 3]))

['1', '2', '3']

In [2]:
list(map(str, [1, 2, 3]))

['1', '2', '3']

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(list(range(10)))

# Testing
## Test
dsafasdlkfjalsdf
asdfasdf
### 3 Levels
#### 4 Levels

In [1]:
'1' + 2

TypeError: can only concatenate str (not "int") to str